$support-ie6   : true !default;
$support-ie7   : true !default;
$support-ie8   : true !default;
$support-ie9   : true !default;
$support-ie10  : true !default;
$support-ie11  : true !default;
$support-moz   : true !default;
$support-webkit: true !default;
$support-opera : true !default;

$support-ios6     : true !default;
$support-ios7     : true !default;
$support-android23: true !default;
$support-android30: true !default;
$support-android43: true !default;
$support-android44: true !default;