$blank-png: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=';

// サイズ指定
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// 最小サイズ指定
@mixin min-size($width, $height) {
  min-width: $width;
  min-height: $height;
}

// position指定
@mixin relative-left($left: 0) {
  position: relative;
  left: $left;
}

@mixin relative-right($right: 0) {
  position: relative;
  right: $right;
}

@mixin relative-top($top: 0) {
  position: relative;
  top: $top;
}

@mixin relative-bottom($bottom: 0) {
  position: relative;
  bottom: $bottom;
}

@mixin absolute-left($left: 0) {
  position: absolute;
  left: $left;
}

@mixin absolute-right($right: 0) {
  position: absolute;
  right: $right;
}

@mixin absolute-top($top: 0) {
  position: absolute;
  top: $top;
}

@mixin absolute-bottom($bottom: 0) {
  position: absolute;
  bottom: $bottom;
}

@mixin fixed-left($left: 0) {
  position: fixed;
  left: $left;
}

@mixin fixed-right($right: 0) {
  position: fixed;
  right: $right;
}

@mixin fixed-top($top: 0) {
  position: fixed;
  top: $top;
}

@mixin fixed-bottom($bottom: 0) {
  position: fixed;
  bottom: $bottom;
}

@mixin relative-left-top($left: 0, $top: 0) {
  position: relative;
  left: $left;
  top: $top;
}

@mixin relative-left-bottom($left: 0, $bottom: 0) {
  position: relative;
  left: $left;
  bottom: $bottom;
}

@mixin relative-right-top($right: 0, $top: 0) {
  position: relative;
  right: $right;
  top: $top;
}

@mixin relative-right-bottom($right: 0, $bottom: 0) {
  position: relative;
  right: $right;
  bottom: $bottom;
}

@mixin absolute-left-top($left: 0, $top: 0) {
  position: absolute;
  left: $left;
  top: $top;
}

@mixin absolute-left-bottom($left: 0, $bottom: 0) {
  position: absolute;
  left: $left;
  bottom: $bottom;
}

@mixin absolute-right-top($right: 0, $top: 0) {
  position: absolute;
  right: $right;
  top: $top;
}

@mixin absolute-right-bottom($right: 0, $bottom: 0) {
  position: absolute;
  right: $right;
  bottom: $bottom;
}

@mixin fixed-left-top($left: 0, $top: 0) {
  position: fixed;
  left: $left;
  top: $top;
}

@mixin fixed-left-bottom($left: 0, $bottom: 0) {
  position: fixed;
  left: $left;
  bottom: $bottom;
}

@mixin fixed-right-top($right: 0, $top: 0) {
  position: fixed;
  right: $right;
  top: $top;
}

@mixin fixed-right-bottom($right: 0, $bottom: 0) {
  position: fixed;
  right: $right;
  bottom: $bottom;
}

@mixin height-negative-top($height) {
  height: $height;
  margin-top: -$height / 2;
}

@mixin height-negative-bottom($height) {
  height: $height;
  margin-bottom: -$height / 2;
}

@mixin width-negative-left($width) {
  width: $width;
  margin-left: -$width / 2
}

@mixin width-negative-right($width) {
  width: $width;
  margin-right: -$width / 2;
}

// formカスタマイズ
@mixin select-customize($width, $height) {
  @include appearance(button);
  width: $width;
  height: $height;
  line-height: $height;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

// radioカスタマイズ
@mixin radio-customize($width, $height) {
  @include appearance(button);
  width: $width;
  height: $height;
  line-height: $height;
  position: relative;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:checked:after {
    display: block;
    @include absoluteLeftTop(0, 0);
    @include size($width, $height);
    content: "";
  }
}

//テーブル風dl
@mixin dl-list($list-size, $dt-width, $dd-width) {
  width: $list-size;
  dt {
    float: left;
    width: $dt-width;
    clear: both;
  }
  dd {
    width: $dd-width;
    margin-left: $dt-width;
  }
}

// Android4 文章の折り返し位置のバグ対応
// jquery-tm v0.5.8~ $.fn.env() と共に使う
@mixin fix-android-word-wrap {
  .android4 {
    body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
      background: url($blank-png) no-repeat;
    }
  }
}

// 2行目以降を一文字下げる
@mixin second-line-indent($width) {
  padding-left: $width;
  text-indent: -$width;
}

// 背景に透明画像を指定する（IE対策を含める）
// IEではalphaで背景を消すと表示範囲を確保できないため透明画像を配置する必要がある。
@mixin transparent {
  background: url($blank-png);
}

// IE10でinputに出てくるクリアボタンを表示させない
@mixin input-clear-invisible{
  &::-ms-clear {
    display: none;
  }
}

// コンテンツをセンタリング
@mixin parent-centering($width){
  width: $width;
  margin: 0 auto;
  position: relative;
}

// アスペクト比で出し分け（iPhone）
@mixin iphone-device-aspect-ratio{
  @media screen and (device-aspect-ratio: 2/3) {
    .iphone-under5 {
      display: block;
    }
    .iphone-over5 {
      display: none;
    }
  }
  @media screen and (device-aspect-ratio: 40/71) {
    .iphone-under5 {
      display: none;
    }
    .iphone-over5 {
      display: block;
    }
  }
  @media screen and (device-aspect-ratio: 3/4) {
    .iphone-under5 {
      display: none;
    }
    .iphone-over5 {
      display: block;
    }
  }
}

//sprite高速化
//$button: sprite-map("button/*.png");
//$sprites-button: sprite-url($button);
//↑と共に使用・複数可
@mixin quick-sprite($name, $sprites, $sprites-img) {
  background-image: $sprites-img;
  background-repeat: no-repeat;
  display: block;
  $ypos: round(nth(sprite-position($sprites, $name), 2));
  background-position: 0 $ypos;
}