//サイズ指定
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

//position指定
@mixin relativeLeftTop($left: 0, $top: 0) {
  position: relative;
  left: $left;
  top: $top;
}

@mixin relativeLeftBottom($left: 0, $bottom: 0) {
  position: relative;
  left: $left;
  bottom: $bottom;
}

@mixin relativeRightTop($right: 0, $top: 0) {
  position: relative;
  right: $right;
  top: $top;
}

@mixin relativeRightBottom($right: 0, $bottom: 0) {
  position: relative;
  right: $right;
  bottom: $bottom;
}

@mixin absoluteLeftTop($left: 0, $top: 0) {
  position: absolute;
  left: $left;
  top: $top;
}

@mixin absoluteLeftBottom($left: 0, $bottom: 0) {
  position: absolute;
  left: $left;
  bottom: $bottom;
}

@mixin absoluteRightTop($right: 0, $top: 0) {
  position: absolute;
  right: $right;
  top: $top;
}

@mixin absoluteRightBottom($right: 0, $bottom: 0) {
  position: absolute;
  right: $right;
  bottom: $bottom;
}

@mixin fixedLeftTop($left: 0, $top: 0) {
  position: fixed;
  left: $left;
  top: $top;
}

@mixin fixedLeftBottom($left: 0, $bottom: 0) {
  position: fixed;
  left: $left;
  bottom: $bottom;
}

@mixin fixedRightTop($right: 0, $top: 0) {
  position: fixed;
  right: $right;
  top: $top;
}

@mixin fixedRightBottom($right: 0, $bottom: 0) {
  position: fixed;
  right: $right;
  bottom: $bottom;
}

@mixin heightNegativeTop($height) {
  height: $height;
  margin-top: -$height / 2;
}

@mixin heightNegativeBottom($height) {
  height: $height;
  margin-bottom: -$height / 2;
}

@mixin widthNegativeLeft($width) {
  width: $width;
  margin-left: -$width / 2
}

@mixin widthNegativeRight($width) {
  width: $width;
  margin-right: -$width / 2;
}

//formカスタマイズ
@mixin selectCustomize($width, $height) {
  @include appearance(button);
  width: $width;
  height: $height;
  line-height: $height;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

//radioカスタマイズ
@mixin radioCustomize($width, $height) {
  @include appearance(button);
  width: $width;
  height: $height;
  line-height: $height;
  position: relative;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:checked:after {
    display: block;
    @include absoluteLeftTop(0, 0);
    @include size($width, $height);
    content: "";
  }
}