$blank-png: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=';

// サイズ指定
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// position指定
@mixin relativeLeft($left: 0) {
  position: relative;
  left: $left;
}

@mixin relativeRight($right: 0) {
  position: relative;
  right: $right;
}

@mixin relativeTop($top: 0) {
  position: relative;
  top: $top;
}

@mixin relativeBottom($bottom: 0) {
  position: relative;
  bottom: $bottom;
}

@mixin absoluteLeft($left: 0) {
  position: absolute;
  left: $left;
}

@mixin absoluteRight($right: 0) {
  position: absolute;
  right: $right;
}

@mixin absoluteTop($top: 0) {
  position: absolute;
  top: $top;
}

@mixin absoluteBottom($bottom: 0) {
  position: absolute;
  bottom: $bottom;
}

@mixin fixedLeft($left: 0) {
  position: fixed;
  left: $left;
}

@mixin fixedRight($right: 0) {
  position: fixed;
  right: $right;
}

@mixin fixedTop($top: 0) {
  position: fixed;
  top: $top;
}

@mixin fixedBottom($bottom: 0) {
  position: fixed;
  bottom: $bottom;
}

@mixin relativeLeftTop($left: 0, $top: 0) {
  position: relative;
  left: $left;
  top: $top;
}

@mixin relativeLeftBottom($left: 0, $bottom: 0) {
  position: relative;
  left: $left;
  bottom: $bottom;
}

@mixin relativeRightTop($right: 0, $top: 0) {
  position: relative;
  right: $right;
  top: $top;
}

@mixin relativeRightBottom($right: 0, $bottom: 0) {
  position: relative;
  right: $right;
  bottom: $bottom;
}

@mixin absoluteLeftTop($left: 0, $top: 0) {
  position: absolute;
  left: $left;
  top: $top;
}

@mixin absoluteLeftBottom($left: 0, $bottom: 0) {
  position: absolute;
  left: $left;
  bottom: $bottom;
}

@mixin absoluteRightTop($right: 0, $top: 0) {
  position: absolute;
  right: $right;
  top: $top;
}

@mixin absoluteRightBottom($right: 0, $bottom: 0) {
  position: absolute;
  right: $right;
  bottom: $bottom;
}

@mixin fixedLeftTop($left: 0, $top: 0) {
  position: fixed;
  left: $left;
  top: $top;
}

@mixin fixedLeftBottom($left: 0, $bottom: 0) {
  position: fixed;
  left: $left;
  bottom: $bottom;
}

@mixin fixedRightTop($right: 0, $top: 0) {
  position: fixed;
  right: $right;
  top: $top;
}

@mixin fixedRightBottom($right: 0, $bottom: 0) {
  position: fixed;
  right: $right;
  bottom: $bottom;
}

@mixin heightNegativeTop($height) {
  height: $height;
  margin-top: -$height / 2;
}

@mixin heightNegativeBottom($height) {
  height: $height;
  margin-bottom: -$height / 2;
}

@mixin widthNegativeLeft($width) {
  width: $width;
  margin-left: -$width / 2
}

@mixin widthNegativeRight($width) {
  width: $width;
  margin-right: -$width / 2;
}

// formカスタマイズ
@mixin selectCustomize($width, $height) {
  @include appearance(button);
  width: $width;
  height: $height;
  line-height: $height;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

// radioカスタマイズ
@mixin radioCustomize($width, $height) {
  @include appearance(button);
  width: $width;
  height: $height;
  line-height: $height;
  position: relative;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:checked:after {
    display: block;
    @include absoluteLeftTop(0, 0);
    @include size($width, $height);
    content: "";
  }
}

//テーブル風dl
@mixin dlList($listSize, $dtWidth, $ddWidth) {
  width: $listSize;
  dt {
    float: left;
    width: $dtWidth;
    clear: both;
  }
  dd {
    width: $ddWidth;
    margin-left: $dtWidth;
  }
}

// Android4 文章の折り返し位置のバグ対応
// jquery-tm v0.5.8~ $.fn.env() と共に使う
@mixin fixAndroidWordWrap {
  .android4 {
    body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
      background: url($blank-png) no-repeat;
    }
  }
}

// 2行目以降を一文字下げる
@mixin secondLineIndent($width) {
  padding-left: $width;
  text-indent: -$width;
}

// 背景に透明画像を指定する（IE対策を含める）
// IEではalphaで背景を消すと表示範囲を確保できないため透明画像を配置する必要がある。
@mixin transparent {
  background: url($blank-png);
}

// IE10でinputに出てくるクリアボタンを表示させない
@mixin inputClearInvisible{
  &::-ms-clear {
    display: none;
  }
}

// コンテンツをセンタリング
@mixin parentCentering($width){
  width: $width;
  margin: 0 auto;
  position: relative;
}

// アスペクト比で出し分け（iPhone）
@mixin iPhoneDeviceAspectRatio{
  @media screen and (device-aspect-ratio: 2/3) {
    .iPhoneUnder5 {
      display: block;
    }
    .iPhoneOver5 {
      display: none;
    }
  }
  @media screen and (device-aspect-ratio: 40/71) {
    .iPhoneUnder5 {
      display: none;
    }
    .iPhoneOver5 {
      display: block;
    }
  }
  @media screen and (device-aspect-ratio: 3/4) {
    .iPhoneUnder5 {
      display: none;
    }
    .iPhoneOver5 {
      display: block;
    }
  }
}